.section__wrapper {
  max-width: var(--layout-width);
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__wrapper-rates {
  max-width: var(--layout-width);
  margin: 0 auto;
  padding: 50px 0;
}

.section-blue {
  background: var(--color-bg-blue);
}

.section__wrapper-blue {
  max-width: var(--layout-width);
  margin: 0 auto;
  display: flex;
  background-color: var(--color-bg-blue);
  border-radius: var(--border16);
  gap: 74px;
  justify-content: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(369px, 1fr));
  gap: 24px;
  justify-content: center;
  max-width: 1156px;
  margin: 0 auto;
}

.convenience__wrapper {
  max-width: var(--layout-width);
  margin: 0 auto;
}

.section_img {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.section_img img {
  border-radius: 20px;
  width: 100%;
  height: auto;
  display: block;
}

.div-section_img-blue {
  display: flex;
  align-items: end;
  position: relative;
  width: 50%;
  overflow: hidden;
}

.section_img-blue {
  max-width: 623px;
  max-height: 531px;
  width: 100%;
  height: auto;
  display: block;
}

.compare {
  display: flex;
  justify-content: center;
  margin-top: 64px;
  gap: 72px;
}

.compare-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 24px;
}

.server_group {
  display: flex;
  gap: 78px;
}

.help {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.help-headling {
  text-align: start;
}

.help__contact {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.help-p {
  text-align: start;
  max-width: 424px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  color: var(--color-text-fff90);
}

@media (max-width: 1550px) {
  .convenience__wrapper,
  .section__wrapper-rates,
  .section__wrapper {
    padding: 40px 24px;
  }

  .section__wrapper-blue {
    padding: 24px 24px 0;
  }

  .help-p {
    padding-bottom: 24px;
  }
}

@media (max-width: 1220px) {
  .server_group {
    gap: 24px;
  }
}
