body {
  background: linear-gradient(180deg, #374151 0%, #111827 100%);
  width: 1440px;
  height: 1835px;
  margin: 0%;
}

ul a {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

input {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 19px;
  background-color: #1f2937;
  width: 224px;
  height: 40px;
  border-radius: 100px;
}

span {
  width: 35px;
  height: 35px;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #4b5563;
  box-shadow: 0px 15px 30px 0px #000000 26%;
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  color: #ffffff;
}

h1 {
  margin: 0px 30%;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  color: #ffffff;
  text-align: center;
}

.blogFoto {
  margin: 0 50%;
  width: 50px;
  height: 50px;
  top: 316px;
  left: 640px;
}
.nameAutor {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

.speciality {
  color: #adb1b7;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}
.colorFoto {
  width: 896px;
  height: 594px;
  top: 397px;
  left: 272px;
  border-radius: 5px;
  margin: 27px 272px 69px;
}

.firstP {
  width: 708px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: justify;
  margin: 0px 367px 24px;
}
.basicP {
  width: 708px;
  text-align: justify;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin: 0px 367px 104px;
}
.date {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #adb1b7;
  text-align: center;
}
footer p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #adb1b7;
  margin: 0 608px;
}
